NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace-me

GITHUB_CLIENT_ID=replace-me
GITHUB_CLIENT_SECRET=replace-me

BACKEND_API_URL=http://localhost:8080
NEXT_PUBLIC_BACKEND_API_URL=http://localhost:8080

NEXT_PUBLIC_LIVEKIT_URL=wss://replace-me.livekit.cloud
LIVEKIT_API_KEY=replace-me
LIVEKIT_API_SECRET=replace-me
